/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require crayoncms/bootstrap
*= require crayoncms/font-awesome.min-4.6.3
*= require crayoncms/codemirror-5.20.0
*= require crayoncms/summernote
*= require crayoncms/admin
*= require crayoncms/mobile
*= require_self
*/

/* FONT STACK */
html, code, kbd, pre, samp {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

/* BASE LAYOUT */
html * {
    margin: 0;
}

body {
    color: #666;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 0.3em #4D8618;
    -webkit-box-shadow: 0 0 0.3em #4D8618;
    box-shadow: 0 0 0.3em #4D8618;
}
a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

img {
    border: 0;
}

/* GENERAL */

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0.25em;
}

.footer {
    border-top: 1px solid #CCCCCC;
    clear: both;
    font-size: 0.85em;
    margin-top: 4em;
    padding-top: 0.6em;
    min-height: 1em;
    margin-bottom:20px;
}

.footer a {
    color: #4D8618;
}

a {
    color: #db4800;
}

a:hover {
    color: #db4800;
    text-decoration: none
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}


/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(sorted_asc.gif);
}

th.desc a {
    background-image: url(sorted_desc.gif);
}

/* PAGINATION */

.pagination {
    padding: 0.3em 0.2em;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #bbb;
    color: #ffffff;
    outline: none;
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}



a.skip {
    position: absolute;
    left: -9999px;
}

.grails-logo-container {
    background:#79b94c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height:300px;
    text-align:center;
}

img.grails-logo {
    height:340px;
    margin-top:-10px;
}

.vertical-align {
    display: table;
    width:100%
}

.vertical-align > div {
    display: table-cell;
    vertical-align: middle;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.margin-10-30 {
    margin-top:10px;margin-bottom:30px;
}
.margin-20 {
    margin:20px 0px;
}
.margin-30 {
    margin:30px 0px;
}
.margin-40 {
    margin:40px 0px;
}


.logo {
	padding-top: 0px;
	padding-right:0px;
}
.logo a {
	color: #000;
}

.nav-tabs, .tab-content {
	margin-bottom: 25px;
}

.centered {
    text-align: center;
}

ul, .menu {
	padding:0px;
}
.list {
	list-style:none;
	border-bottom: 1px solid #ddd;
	padding:8px;
	cursor: pointer;
}
li.active{
    background:#eee;
    overflow:hidden;
    margin-top:5px;
    margin-bottom:5px;
}
.list:last-child {
	border-bottom:none;
}
.panel-heading {
	
}
.btn-small {
	padding:3px 6px;
	font-size: 12px;
}
input.fa.fa-trash-o {
    border: none;
    color: #db4800;
    background:transparent;
}

.fa-pencil {color:#f0ad4e}

.CodeMirror {border:1px solid #ddd;height: auto;}